@import "reset.css";
*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: #3b3b3b;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo-left{
display: flex;
align-items: center;
margin-left: 1rem;
}
.logo{
    width: 5rem;
}
.h2-conf{
    font-size: 1.3rem;
    color: white;
}
.lista{
    text-decoration: none;
    color: #9c9c9c;
}
.lista:hover{
    color: #ffffff;
    transition: all;
    transition-duration: 300ms;
}
.menu{
    display:flex;  
    margin-right: 1rem;
}
span{
    color: #27ce3d;
} 
header{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right, rgba(15, 15, 15, 0.5), rgba(22, 18, 18, 0.5)),url(../assets/ba1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}
.texto-principal{
    margin-right: 1rem;
    text-align: right;
}
.parrafo-principal{
    margin-left: 20%;
}
button.texto-principal{
    gap: 1rem;
}
#title-h3{
    text-transform: uppercase;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
#oradores{
font-size: 1.8rem;
font-weight: 700;
text-transform: uppercase;
display: flex;
justify-content: center;
color: #3b3b3b;
}
.oradores-card{
    margin: 1rem;
}
#cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.orador1, .orador2, .orador3, .orador4{
    font-size: .7rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
}
.orador2, .orador3, .orador4{
    color: #ffffff;
}
.orador1{
background-color: #ffd414;
}
.orador2{
background-color: #0dbebe;
}
.orador3{
background-color: #807e7e;
}
.orador4{
background-color: #c50f0f;
}
.card-title{
    font-size: 1.2rem;
}
.card-text{
    font-size: .8rem;
}

@media (min-width: 768px) {
    .menu {
        gap: .5rem;
    }

}





/*agregar menu hamburguesa*/